<section class="container">
    <div class="mt-10">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="cards-3">
                            <div class="card-3-1">
                                <div class="bg">
                                    <img class="card-imgs" src="assets/images/Get Paid Instantly.png" alt="">
                                    <p class="card-titl">Quick cash disbursement</p>
                                    <p class="card-desc">Get terms loans that your business needs within 72 hrs</p>
                                </div>
                            </div>
                            <div class="card-3-2">
                                <div class="bg">
                                    <img class="card-imgs" src="assets/images/Low interest rate.png" alt="">
                                    <p class="card-titl">Low-interest rate</p>
                                    <p class="card-desc">Achieve your financial goals with an amazing interest rate
                                        starting at 13% per annum</p>
                                </div>
                            </div>
                            <div class="card-3-3">
                                <div class="bg">
                                    <img class="card-imgs" src="assets/images/Secure Payments.png" alt="">
                                    <p class="card-titl">Zero Paperwork</p>
                                    <p class="card-desc">Get started instantly by submitting only your basic details &
                                        bank statements</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="cards-2">
                            <div class="card-2-1">
                                <div class="bg">
                                    <img class="card-imgs" src="assets/images/freelancer_feature_icon_6@1.5x.png"
                                        alt="">
                                    <p class="card-titl">Ace your business finances</p>
                                    <p class="card-desc">Manage banking, accounting & everything in between, on one
                                        platform</p>
                                </div>
                            </div>
                            <div class="card-2-2">
                                <div class="bg">
                                    <img class="card-imgs" src="assets/images/Covid.png" alt="">
                                    <p class="card-titl">Loans to fight COVID-19</p>
                                    <p class="card-desc">Zero EMI for first 3 months on Back-to-Business loans of upto 1
                                        lakh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="section-6">
                    <div class="title-section">
                        <p class="title">
                            Boost your business with Open
                        </p>
                        <div class="hr-line"></div>
                    </div>
                    <p class="titl-desc">Get your hands on a term loan that’s crafted for your business</p>
                    <div class="btn-g">
                        <button class="btn">Get an Open Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>