<div class="mt50">
    <section class="section-1">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="section-2">
                    <div class="blob-small">
                    </div>
                    <div class="title-section">
                        <p class="title">
                            We make it Super Simple
                        </p>
                        <div class="hr-line"></div>
                    </div>
                    <div class="collecting-video">
                        <img src="assets/images/collect_img-video.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="section-3">
                    <app-elig-calc></app-elig-calc>
                </div>
            </div>
        </div>
    </section>
    <app-common-section></app-common-section>
</div>