/* You can add global styles to this file, and also import other style files */



html {
  overflow: scroll;
  overflow-x: hidden;
  transition: all 0.4s;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}


body {
  font-family: Helvetica, sans-serif !important;
  background: #FCFCFF 0% 0% no-repeat padding-box !important;
}

.btn:hover {
  background: #663399 !important;
  color: white !important;
}
